@{
    Layout = null;
    ViewBag.Title = "SignUp";
}

<html>
<head>
    <script src="~/Scripts/fontawesome.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <title>SignUp-IMS</title>
    @Styles.Render("~/Content/css")
    <style>

        .signUpHeading {
            /*width: 100%;
            margin-left: 500px;
            margin-right: 500px;
            overflow: hidden;
            font-size: 36px;
            color: white;
            padding: 8px 0;
            margin: 8px 0;
            border-bottom: 6px solid #4caf50;
            margin-bottom: 40px;*/
            font-size: 38px;
            margin-left: 500px;
            margin-right: 500px;
            color: white;
            
            padding: 8px 0;
            margin-bottom: 30px;
            border-bottom: 5px solid #4caf50;
        }
    </style>
</head>


<body>
    <div class="container">
        @using (Html.BeginForm("Register", "admin_Login", FormMethod.Post, new { @id = "loginForm" }))
        {
            @*@Html.ValidationSummary(true)
            @Html.AntiForgeryToken()*@
            <h1 class="signUpHeading">Sign Up</h1>
            <div class="row col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-0">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Sign Up Your Account
                    </div>
                    <br />
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Seller.ID)*@
                    <div class="panel-body">

                        @*<div class="form-horizontal">*@
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @*@Html.EditorFor(model => model.Seller.Fname, new { htmlAttributes = new { @class = "form-control", @name = "Fname", @placeholder = "First Name" } })
        @Html.ValidationMessageFor(model => model.Seller.Fname, "", new { @class = "text-danger" })*@

                            <input name="Fname" class="box" type="text" placeholder="First Name" required>
                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                            @*@Html.EditorFor(model => model.Seller.Lname, new { htmlAttributes = new { @class = "form-control", @name = "Lname", @placeholder = "Last Name" } })
        @Html.ValidationMessageFor(model => model.Seller.Lname, "", new { @class = "text-danger" })*@

                            <input name="Lname" class="box" type="text" placeholder="Last Name" required>
                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user-circle"></i></span>
                            @*@Html.EditorFor(model => model.Login.username, new { htmlAttributes = new { @class = "form-control", @name = "username", @placeholder = "Username" } })
        @Html.ValidationMessageFor(model => model.Login.username, "", new { @class = "text-danger" })*@
                            <input name="username" class="box"  type="text" placeholder="Username" required>

                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @*@Html.EditorFor(model => model.Login.password, new { htmlAttributes = new { @class = "form-control", @name = "password", @placeholder = "password" } })
        @Html.ValidationMessageFor(model => model.Login.password, "", new { @class = "text-danger" })*@

                            <input name="Password" class="box"  type="password" placeholder="Password" required>
                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            @*@Html.EditorFor(model => model.Seller.email, new { htmlAttributes = new { @class = "form-control", @name = "email", @placeholder = "Email" } })
        @Html.ValidationMessageFor(model => model.Seller.email, "", new { @class = "text-danger" })*@

                            <input name="email"  class="box" type="email" placeholder="Email" required>
                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-address-book"></i></span>
                            @*@Html.EditorFor(model => model.Seller.address, new { htmlAttributes = new { @class = "form-control", @name = "address", @placeholder = "Address" } })
        @Html.ValidationMessageFor(model => model.Seller.address, "", new { @class = "text-danger" })*@

                            <input name="address"  class="box" type="text" placeholder="Address" required>
                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            @*@Html.EditorFor(model => model.Seller.phone, new { htmlAttributes = new { @class = "form-control", @name = "phone", @placeholder = "Phone" } })
                            @Html.ValidationMessageFor(model => model.Seller.phone, "", new { @class = "text-danger" })*@


                            <input name="phone"  class="box" type="text" placeholder="Phone">
                        </div>

                        <br />
                        <div class="col-md-8 col-xs-6">
                            <div class="form-group">
                                @*<div class="pull-right">*@
                                @*<a href="@Url.Action("Register","admin_Login")">*@
                                <button type="submit" id="btn-login" class="btn btn-success">Sign Up</button>
                                @*</a>*@
                                @*</div>*@
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        }

        @Scripts.Render("~/Content/js")
    </div>
</body>
</html> 